<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-Content-Type-Options" content="nosniff">
        <title>{% block title %}{% endblock %} - Gurmukhi Games</title>
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/logo.png') }}">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Quicksand:wght@400;600;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Anek+Gurmukhi:wght@100..800&family=Braah+One&family=Langar&family=Noto+Sans+Gurmukhi:wght@100..900&family=Tiro+Gurmukhi:ital@0;1&display=swap" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <style>
            body {
                font-family: 'Quicksand', sans-serif;
                background: var(--blue-dark);
                color: var(--blue-light);
                min-height: 100vh;
            }
            .navbar {
                box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
            }
            .main-text {
                font-family: 'Fredoka One', 'Braah One';
            }
            .game-text {
                font-family: 'Fredoka One', cursive;
            }
            .gurmukhi-noto-serif {
                font-family: 'Noto Serif Gurmukhi', serif;
            }
            .gurmukhi-braah-one {
                font-family: 'Braah One', sans-serif;
            }
            .gurmukhi-langar {
                font-family: 'Langar', cursive;
            }
            .gurmukhi-tiro {
                font-family: 'Tiro Gurmukhi', serif;
            }
            .borderless td, .borderless th {
                border: none;
            }
        </style>
        {% block styles %}{% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg bg-main-light main-text w-100">
            <div class="container d-flex justify-content-between align-items-center">
                <!-- Logo and Navigation -->
                <div class="d-flex align-items-center">
                    <a class="btn-press-blank text-decoration-none p-0 m-0" href="{{ url_for('index') }}">
                        <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Gurmukhi Games Logo" class="me-3" style="width: 40px; height: 40px;">
                    </a>
                    {% if user_id and user_type in ["teacher", "admin"] %}
                        <a href="{{ url_for('analytics') }}" class="btn-press-blank text-orange-dark text-decoration-none p-0 mx-1">
                            <span class="m-0">
                                <span class="eng-lang-text">Analytics</span>
                                <span class="pa-lang-text">ਨਿਖੇੜਾ</span>
                                <i class="bi bi-graph-up-arrow"></i>
                            </span>
                        </a>
                        <a href="{{ url_for('register_user') }}" class="btn-press-blank text-orange-dark text-decoration-none p-0 mx-1">
                            <span class="m-0">
                                <span class="eng-lang-text">Register</span>
                                <span class="pa-lang-text">ਰਜਿਸਟਰ</span>
                                <i class="bi bi-person-plus"></i>
                            </span>
                        </a>
                        <a href="{{ url_for('games_management') }}" class="btn-press-blank text-orange-dark text-decoration-none p-0 mx-1">
                            <span class="m-0">
                                <span class="eng-lang-text">Games</span>
                                <span class="pa-lang-text">ਖੇਡਾਂ</span>
                                <i class="bi bi-gear"></i>
                            </span>
                        </a>
                    {% endif %}
                    
                    {% if user_id and user_class_id %}
                        <a href="{{ url_for('class_list', class_id=user_class_id) }}" class="btn-press-blank text-orange-dark text-decoration-none p-0 mx-1">
                            <span class="m-0">
                                <span class="eng-lang-text">Class</span>
                                <span class="pa-lang-text">ਜਮਾਤ</span>
                                <i class="bi bi-people"></i>
                            </span>
                        </a>
                    {% endif %}
                </div>

                <!-- User Info -->
                <div>
                    {% if user_id %}
                        <span class="me-1">
                            <span class="eng-lang-text">{{ user_name_english }}</span>
                            <span class="pa-lang-text">{{ user_name_punjabi }}</span>
                        </span>
                        {% if user_points %}
                        <span class="text-blue m-0 me-1 p-2 h5">💎 <span class="num-lang-text">{{ user_points }}</span></span>
                        {% endif %}
                        <a href="{{ url_for('logout') }}" class="btn-press bg-red"><i class="bi bi-box-arrow-left"></i></a>
                    {% endif %}
                    <span class="ms-1">
                        <button id="set-en-btn" onclick="setLanguage('en');" class="btn-press bg-blue-dark">A</button>
                        <button id="set-pa-btn" onclick="setLanguage('pa');" class="btn-press bg-blue-dark d-none">ਅ</button>
                    </span>
                </div>
            </div>
        </nav>
        <br/>
        <div class="container-fluid p-2 main-text">
            {% block content %}{% endblock %}
        </div>
        <div id="modal" class="modal" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        {% block modal_content %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>
        <br/><br/>
        <div class="container-fluid pt-4">
            <h5 class="text-center"><a class="text-decoration-none btn-press bg-green-light" href="https://docs.google.com/forms/d/e/1FAIpQLSf3qieTWzfGT8f8EzF1mdwVEJX7BzniJGq7YT1hujoylKirow/viewform?usp=dialog" target="_blank">
                <span class="eng-lang-text">Feedback</span>
                <span class="pa-lang-text">ਫ਼ੀਡਬੈਕ</span>
                <i class="bi bi-chat-right-text"></i>
            </a></h5>
        </div>
        <script>
            function translateNumber(numString) {
                enNums = ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9'];
                paNums = ['੦', '੧', '੨', '੩', '੪', '੫', '੬', '੭', '੮', '੯'];
                
                // Set to english if all numbers are in english and vice versa
                if (numString.split('').every(num => enNums.includes(num))) {
                    console.log("Converting English number: ", numString);
                    return toGurmukhiNumber(numString);
                } else if (numString.split('').every(num => paNums.includes(num))) {
                    console.log("Converting Punjabi number: ", numString);
                    return toEnglishNumber(numString);
                }
                return numString;
            }
            function toGurmukhiNumber(numString) {
                const NUM_MAP = {0: "੦", 1: "੧", 2: "੨", 3: "੩", 4: "੪", 5: "੫", 6: "੬", 7: "੭", 8: "੮", 9: "੯"};
                let gurmukhiNumString = numString.split('').map(num => NUM_MAP[num]).join('');
                console.log("Converting to Gurmukhi number: ", gurmukhiNumString);
                return gurmukhiNumString;
            }
            function toEnglishNumber(numString) {
                const NUM_MAP = {"੦": "0", "੧": "1", "੨": "2", "੩": "3", "੪": "4", "੫": "5", "੬": "6", "੭": "7", "੮": "8", "੯": "9"};
                let englishNumString = numString.split('').map(num => NUM_MAP[num]).join('');
                console.log("Converting to English number: ", englishNumString);
                return englishNumString;
            }
            function showModal() {
                $('#modal').modal('show');
            };
            function hideModal() {
                $('#modal').modal('hide');
            };
            function playAudio(url) {
                const audio = new Audio(url);
                audio.play();
            }
            function registerActivity(name, points, categories, stats) {
                console.log("Registering activity...")
                $.ajax({
                    url: '/register-activity',
                    type: 'POST',
                    contentType: "application/json",
                    data: JSON.stringify({ name: name, points: points, categories: categories, stats: stats }),
                    success: function(response) {
                        console.log(response);
                    }
                });
            }
            function setLanguage(lang) {
                // Change button display
                if (lang === 'en') {
                    $('#set-en-btn').addClass('d-none');
                    $('#set-pa-btn').removeClass('d-none');
                } else if (lang === 'pa') {
                    $('#set-en-btn').removeClass('d-none');
                    $('#set-pa-btn').addClass('d-none');
                }

                // Change language in the page
                let enElements = document.getElementsByClassName('eng-lang-text');
                let paElements = document.getElementsByClassName('pa-lang-text');
                if (lang === 'en') {
                    Array.from(enElements).forEach(element => element.classList.remove('d-none'));
                    Array.from(paElements).forEach(element => element.classList.add('d-none'));
                } else if (lang === 'pa') {
                    Array.from(enElements).forEach(element => element.classList.add('d-none'));
                    Array.from(paElements).forEach(element => element.classList.remove('d-none'));
                }

                // Set the number language text
                let numElements = document.getElementsByClassName('num-lang-text');
                Array.from(numElements).forEach(element => element.textContent = translateNumber(element.textContent));
            }
            
            // On page load, set the language to the user's preferred language
            $(document).ready(function() {
                setLanguage("pa");
            });
        </script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
        {% block scripts %}{% endblock %}
    </body>
</html>
