{% extends "base.html" %}

{% block title %}Games{% endblock %}

{% block content %}
<div class="w-100 rounded-3 p-4">
    <!-- Game Cards -->
    <div class="row">
        {% for game in game_details %}
            <div class="col-md-4 mb-4">
                <a href="activities/{{ game.game_id }}" class="text-decoration-none">
                    <div class="card h-100 {{ game.color_class }}">
                        <div class="card-body text-center">
                            <h1 class="display-4">{{ game.icon }}</h1>
                            <h2 class="card-title">{{ game.name }}</h2>
                            <p class="card-text">{{ game.description }}</p>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}