{% extends "base.html" %}

{% block title %}Gurmukhi Games{% endblock %}

{% block content %}
<div class="container-fluid">
    <!-- Leaderboard -->
     {% if leaderboard %}
     <div class="d-flex justify-content-center">
        <div style="width: 100%;max-width: 500px;">
            <h2 class="text-center"><i class="bi bi-trophy-fill"></i> ਲੀਡਰਬੋਰਡ</h2>
            <hr/>
            {% for user in leaderboard %}
                <div class="row h4">
                    <div class="col-8 text-white">
                        {% if loop.index0 == 0 %}
                            <i class="bi bi-star-fill" style="color: gold;"></i>
                        {% endif %}
                        {% if loop.index0 == 1 %}
                            <i class="bi bi-star-fill" style="color: silver;"></i>
                        {% endif %}
                        {% if loop.index0 == 2 %}
                            <i class="bi bi-star-fill" style="color: #cd7f32;"></i>
                        {% endif %}
                        {{ user.id }}
                    </div>
                    <div class="col-4 text-end">💎 {{ user.points }}</div>
                </div>
                <hr/>
            {% endfor %}
            </div>
        </div>
     </div>
     {% endif %}

     <br/><br/>

    <!-- Game Cards -->
    <div class="row">
        {% for game in game_details %}
            <div class="col-md-4 mb-4">
                <a href="activities/{{ game.game_id }}" class="text-decoration-none">
                    <div class="card h-100 {{ game.color_class }}">
                        <div class="card-body text-center">
                            <h1 class="display-4">{{ game.icon }}</h1>
                            <h2 class="card-title">{{ game.name }}</h2>
                            <p class="card-text">{{ game.description }}</p>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}