{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="container bg-main-light rounded-3 p-4 text-center" style="max-width: 400px;">
    <h2>
        <span class="eng-lang-text">Login</span>
        <span class="pa-lang-text">ਲਾਗਇਨ</span>
    </h2>
    <br/>
    <form method="POST" action="{{ url_for('login') }}">
        <div class="mb-3">
            <input type="text" class="form-control" id="user_id" name="user_id" 
                   placeholder="Enter your User ID" required autofocus>
        </div>
        <button type="submit" class="btn-press bg-blue-dark w-100">
            <i class="bi bi-box-arrow-right"></i>
        </button>
        {% if error %}
            <div class="text-red">{{ error }}</div>
        {% endif %}
    </form>
</div>
{% endblock %} 